#navLogo {
  max-height: 100px;
  animation: spin 4s infinite alternate ease-in-out;
  position: relative;
}
#logo{
  animation:roll 4s infinite alternate ease-in-out;
}
#leagueLogo
{
  width: 150px;
}
.nav-link {
  border-radius: 5px;
  /* height: 40px; */
}
.dropdown-item{
  border: 1px solid rgb(0,102,0);
}
.dropdown:hover .dropdown-menu {
  display: block;
}



#navbar {
  margin-bottom: 25px;
  color: white;
}

.navbar-nav li .nav-link
{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 5px;
}

.navbar-nav li{

}




@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(720deg);}
}
@keyframes roll {
  to{margin-left:1700%;}
}
.nav{
}
.item{
  color: white;
  background-color: black;
  position: relative; z-index:1;
  text-align: center;
  float:left;
  height: 50px;
  width: 150px;
  box-shadow: 30px 20px 30px 10px rgb(25,130,25);
  animation: popdown 0.3s ease
}
.item:hover{
  animation: popup 0.3s ease;
  animation-fill-mode: forwards;
}

.item::after{
  content:"";
  height: 51px;
  width: 10px;
  position: absolute;
  background: rgb(20,20,20);
  transition: background 0.3s;
  left: 150px;
  top: 4px;
  transform: skewY( 45deg);
}

.item:hover:after{
  background-color: rgb(165, 88, 33);
}

.item:hover:before{
  background-color: rgb(165, 88, 33);
}

.item::before{
  content:"";
  height: 10px;
  width: 151px;
  position: absolute;
  background: rgb(20,20,20);
  transition: background 0.3s;
  top: 50px;
  left: 4px;
  transform: skewX( 45deg);
}

@keyframes popup
{
  from{
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
  }
  to{
    background-color: rgb(255, 137, 53);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 10px;
  }
}
@keyframes popdown
{
  from{
    background-color: rgb(255, 137, 53);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 10px;
  }
  to{
    background-color: black;
    margin-top: 0px;
    margin-left: 0px;
  }
}