<div class=container style= "float:left;">

        <div *ngFor="let game of games" class="row game">
          <div class="col-sm-2 gameDate">
            <p>{{game.date | date }}</p>
          </div>
          <div class="homeTeam teamData col-sm-5">
            <h3>{{game.homeTeamName}}</h3>
          </div>
          <div class="awayTeam teamData col-sm-5">
             <h3>{{game.awayTeamName}}</h3>
          </div>

        </div>

      </div>
      <h1>
        THERE ARE NO GAMES TO BE DISPLAYED
      </h1>