<nav class="navbar navbar-expand bg-light navbar-light" id="navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <div class="navbar-toggler-icon"></div>
  </button>
  <!-- <a class="navbar-brand" routerLink="">
    <img src="../../assets/logo.png" id="navLogo"/>
  </a> -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar2">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="./PastGames">Past Games</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="./TeamInfo">Team Info</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="./FutureGames">Future Games</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="./PlayerInfo">Player Info</a>
    </li>
  </ul>
</div>
</nav>
