<div id="FavTeamData" *ngIf="id">
  <div class="draw" *ngIf="goalDiff == 0">
    <h4>{{favName}}</h4>
    DREW WITH
    <h4>{{otherName}}</h4>
    <span class="scores">{{favGoals}} : {{otherGoals}}</span>
  </div>

  <div class="win" *ngIf="(goalDiff > 0 && isHome) || (goalDiff < 0 && !isHome)">
    <h4>{{favName}}</h4>
    BEAT
    <h4>{{otherName}}</h4>
    <span class="scores">{{favGoals}} : {{otherGoals}}</span>
  </div>

  <div class="lose" *ngIf="(goalDiff < 0 && isHome) || (goalDiff > 0 && !isHome)">
    <h4>{{favName}}</h4>
    LOST TO
    <h4>{{otherName}}</h4>
    <span class="scores">{{favGoals}} : {{otherGoals}}</span>
  </div>
</div>
