<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
<div class="container-fluid" >
  <div class="row">

  <div class="col-sm-1"></div>
  <app-sidebar class="col-sm-2"></app-sidebar>

    <div id="teamMain" class="col-sm-8" *ngIf="standing">
          <img src="{{standing.crestURI}}" id="mainCrest"/>
          <div id ="teamInfo">
            <div id="teamRank">
              <h4>RANK:</h4>
              <h2>{{standing.rank}}</h2>
            </div>
            <div id="teamName">
              <h1 *ngIf="selectedTeam" (click)="setFav()">
                {{selectedTeam.name}}<br />
                <a delay="0" data-toggle="tooltip" title="Click here to set this as you favourite team. Get quick updates on their recent games!" style="color: black;">
                  <span *ngIf="!fav"><i class="far fa-heart" id="emptyHeart" ></i></span>
                </a>
                <span *ngIf="fav"><i class="fas fa-heart" id="fullHeart" ></i></span>
              </h1>
            </div>
          </div>
          <div>
            <app-mini-nav></app-mini-nav>
            <router-outlet *ngIf="selectedTeam"></router-outlet>
          </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
